
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  padding-left: 0;
  list-style-type: none;
}

li {
  font-size: 18px;
  margin: 5px 0;
}
